# Зависимости (библиотеки)
node_modules/
.pnp
.pnp.js

# Изходни файлове от билда (Vite / Production)
dist/
build/
*.local

# Firebase специфични файлове
.firebase/
firestore.indexes.json
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Конфиденциални данни (Критично!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Системни и редакторски файлове
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# Тестове
/coverage